@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');
.container{
    margin: 0%;
    padding: 0%;
    background-color:hsl(217, 54%, 11%) ;
    font-family: 'Outfit', sans-serif;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.principal_imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.first {
    width: 70%;
    border-radius: 20px; 
      
}

.eye{
    display: none;
    position: absolute;
    /* background: rgba(255,255,255,.4); */
}

.first:hover + .eye{
    display: block;
}

.first:hover{
    filter: opacity(0.2);
}


.paragraph{
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15%;
}

h1{
    font-size: 30px;
}

h1:hover{
    color: aqua;
}

p{
    margin-right: 20%;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 13% 3% 15%
}

.box_diamond{
    display: flex;
}

#diamon{
    max-width: 30px;
    max-height: 20px;

}

#p1{
    font-size: 17px;
    color: aqua;
    margin: 0 0 0 7%;
}

.box_clock{
    display: flex;
}

#p2{
    font-size: 17px;
    color: hsl(215, 51%, 70%);
    margin: 0 0 3%;
}  

hr{
    border: 1px solid hsl(215, 32%, 27%);
    width: 75%;
}

.feet{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin-bottom: 10%;
    margin-left: 15%;
}

#boy{
    width: 10%;
    height: 10%;
    border: 2px solid white;
    border-radius: 40px;
}

#p3{
    display: flex;
    color:hsl(215, 51%, 70%);
    margin-left: 1rem;
}

.name{
    color: white;
    font-weight: 700;
    margin-left: 0.5rem;
}

.name:hover{
    color: aqua;
}

@media (min-width:300px) {
    .container{
        width: 100%;
    }
    
}
@media (min-width:1200px) {
    .container{
        width: 30%;
        margin-top: 10%;
    }
    .p0{
        font-size: 18px;
    }

    #p1{
        font-size: 18px;
    }

    #p2{
        font-size: 18px;
    }

    .feet{
        margin-top: 3%;
    }

    #boy{
        border-radius: 58px;
    }

    #p3{
        font-size: 18px; 
    }
    
    
}

@media (min-width:2000px) {
    .p0{
        font-size: 35px;
    }

    #diamon{
        max-width: 40px;
        max-height: 35px;
    }

    #p1{
        font-size: 30px;
    }

    #p2{
        font-size: 33px;
    }

    #clock{
        max-width: 40px;
        max-height: 35px;
    }

    .feet{
        margin-top: 3%;
    }

    #boy{
        border-radius: 65px;
    }

    #p3{
        font-size: 33px; 
    }
    
}
 